html {
  background: #0c6c9d;
}

body {
  text-align: center;
  width: 1200px;
  padding: 50px 50px;
  margin: 20px auto;
  border-radius: 20px;
  background: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#table1 {
  border: 1px solid red;
  margin: 30px auto;
}

#td1 {
  border: 1px dotted blue;
  padding: 10px;
}

#row-1 {
  background-color: #053561;
  color: white;
}

.block {
  background-color: black;
  color: white;
}

.time {
  font-size: 8px;
  font-style: italic;
}

.subject:hover {
  background-color: #06413a;
  color: white;
  cursor: cell;
  font-size: 12px;

  transition: font-size 0.5s, background 0.5s, color 0.5s;
}

#tables {
  background-color: #0c6c9d;
  border-radius: 40px;
  padding: 40px;
}

#socials {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;
  text-decoration: underline;
  text-decoration: underline white;
  padding-bottom: 50px;
}

#x {
  padding-right: 70px;
}

#snapchat {
  padding-left: 70px;
}

#insta {
  padding-right: 80px;
}

#tiktok {
  padding-left: 70px;
}

#that {
  border-bottom: 1px solid white;
}

#time-table td {
  border: 2px solid black;
}

#time-table {
  background-color: lightskyblue;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.pink {
  color: pink;
}
.orange {
  color: orange;
}

.brown {
  color: brown;
}

.color {
  color: darksalmon;
}

#green {
  color: green;
}

#time {
  font-size: 40px;
  color: teal;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  border-style: hidden;
}
